.app {
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding: 15px;
  align-items: center;
  /* border: 1px solid rgb(79, 82, 83); */
  max-width: 380px;
  box-shadow: 4px 6px 20px gray;
  border-radius: 5px;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}
.app:hover {
  transition: 0.3s ease all;
  box-shadow: 1px 2px 5px gray;
}

.start-header {
  text-align: center;
  align-items: center;
  margin: 0;
}

.btn {
  padding: 5px;
  background-color: rgb(12, 116, 180);
  color: wheat;
  width: 110px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 1px;
  font-weight: bold;
  font-size: 20px;
}
.buttonWrapper {
  margin: auto;
  text-align: center;
  margin-bottom: 55px;
}
.start-btn {
  width: 200px;
  height: 50px;
  background-image: linear-gradient(rgb(119, 140, 196), rgb(12, 116, 180));
  color: wheat;
  border-radius: 28px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.start-btn:hover {
  /* font-size: 24px;
  color: wheat; */
  background-color: yellow;
  transition: background-color 0.5s ease;
}
.replay-btn,
.start-btn,
.btn {
  font-family: "Special Elite", cursive;
  /* text-align: center; */
}

.score {
  width: fit-content;
  background-color: whitesmoke;
  margin: auto;
  border-radius: 5px;
  border: 1px black solid;
}

.overall-set-score {
  color: rgb(12, 116, 180);
  position: absolute;
  top: 6px;
  left: 6px;
}

.icons {
  padding: 0;
  margin: 15px;
  text-align: center;
}

.img2,
.img1 {
  width: 30%;
}

/* .icons, */
.message,
.score {
  text-align: center;
  margin-bottom: 40px;
}

.hidden {
  transition-property: opacity, visibility;
  transition-duration: 1.2s, 0s;
  transition-delay: 0s, 1s;
  visibility: hidden;
  opacity: 0;
}
.visible {
  display: block;
}

.footer-info {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
.footer-info > a {
  color: rgb(12, 116, 180);
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .buttonWrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .btn {
    margin-bottom: 5px;
  }
}
