:root {
  --the-blue: #0c74b4;
  --the-grey: rgb(217, 223, 230);
}

.app {
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding: 15px;
  align-items: center;
  max-width: 550px;
  box-shadow: inset darkgray 2px 4px 16px 8px;
  border: solid 1px white;
  border-radius: 15px;
  font-family: "Special Elite", cursive;
  font-size: 20px;
}

.start-header {
  text-align: center;
  margin: 0;
}

.btn {
  padding: 5px;
  background-color: var(--the-blue);
  color: wheat;
  width: 110px;
  height: 45px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 1px;
  font-weight: bold;
  font-size: 20px;
}
.btn:hover {
  background-color: rgba(12, 71, 126, 0.959);
}
.buttonWrapper {
  margin: auto;
  text-align: center;
  margin-bottom: 55px;
}
.start-btn {
  width: 200px;
  height: 50px;
  background-image: linear-gradient(rgb(79, 105, 179), var(--the-blue));
  color: wheat;
  border-radius: 28px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.start-btn:hover {
  transition: 0.5s all ease-in-out;
  font-size: 24px;
  color: var(--the-blue);
  font-weight: bold;
  background: var(--the-grey);
  border: solid 3px black;
}

.replay-btn,
.start-btn,
.btn {
  font-family: "Special Elite", cursive;
  /* text-align: center; */
}

.score {
  width: fit-content;
  background-color: whitesmoke;
  margin: auto;
  border-radius: 5px;
  border: 1px black solid;
}

.overall-set-score {
  color: var(--the-blue);
  position: absolute;
  top: 20px;
  left: 14px;
}

.icons {
  padding: 0;
  margin: 30px;
  text-align: center;
}

.img2,
.img1 {
  width: 30%;
}

/* .icons, */
.message,
.score {
  text-align: center;
  margin-bottom: 40px;
}

.hidden {
  transition-property: opacity, visibility;
  transition-duration: 1s, 0s;
  transition-delay: 0s, 0.8s;
  visibility: hidden;
  opacity: 0;
}
.visible {
  display: block;
}

.footer-info {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
.footer-info > a {
  color: black;
  text-decoration: none;
}

@media (max-width: 400px) {
  .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .btn {
    margin-bottom: 5px;
  }
}
